.progress-bar-custom {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}

.btn-custom {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    border: 2px solid #fff; /* White border */
}

.btn-custom:hover {
    background-color: #fff; /* White background on hover */
    color: #000; /* Black text on hover */
    border: 2px solid #000; /* Black border on hover */
}

.btn-custom-sm {
    width: 100px; /* Set a specific width for the smaller button */
}